<div>
    <div class="post-card d-flex flex-column justify-content-center align-items-center text-center">
        <div class="post-container">
            <div class="post-header">
                <h1>{{title}}</h1>
            </div>
            <div class="post-creator">
                <p class="creator-name">{{user.username}}</p>
            </div>
            <div class="post-content">
                <p>{{content}}</p>
            </div>
            <div>
                <p class="post-date">{{format_date createdAt}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="comment-header">
        <p>{{comments.length}} comments in this post.</p>
    </div>
    {{#each comments as |comment|}}
    <div class="card-comment">
        <h1 class="head-comment">{{comment.user.username}}</h1>
        <p class="text-comment">{{comment.comment}}</p>
        <p class="date-comment">{{format_date comment.createdAt}}</p>
        <p>Logged in: {{logged_in}}</p>
        <p>User ID: {{user_id}}</p>
        <p>{{comment.user.id}}</p>
            <!-- Only show the delete button if the comment was posted by the logged-in user -->
                <button class="delete-comment-btn" data-id="{{comment.id}}">Delete</button>
    </div>
    {{/each}}
</div>

<div class="container">
    {{#if logged_in}}
    <div class="comment-header">
        <h1>Add Comment</h1>
    </div>
    <div>
        <form id="form-comment{{id}}" class="comment-add" data-id="{{id}}">
            <div class="form-group">
                <label class="field-custom">Comment</label>
                <input type="text" id="post-comment{{id}}" class="w-100">
            </div>
            <button type="submit" id="comment-btn{{id}}" class="btn btn-secondary comment-btn mb-5">Post</button>
        </form>
    </div>
    {{/if}}
</div>

<script src="/js/post.js"></script>